.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 9999;
  border-bottom: 1px solid #ddd;
  .inner {
    height: 100%;
    .nav {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header-left {
        display: flex;
        align-items: center;
        .header-logo {
          cursor: pointer;
          width: 64px;
          height: 56px;
        }
        .header-txt {
          font-family: "Poppins", sans-serif;
          font-size: 24px;
          color: #131313;
          font-weight: 600;
          cursor: pointer;
          text-transform: uppercase;
        }
      }
      .gnb {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.active {
          display: none;
        }
        li {
          cursor: pointer;
          padding: 0 25px;
          span {
            position: relative;
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            color: #131313;
            text-transform: uppercase;
            font-weight: 600;
            transition: color 0.5s;
            &::after {
              content: "";
              position: absolute;
              left: 50%;
              bottom: -2px;
              width: 0%;
              height: 3px;
              background-color: #f57584;
              transform: translateX(-50%);
              transition: width 0.5s;
            }
          }
          &:hover span {
            color: #f57584;
            &::after {
              width: 100%;
            }
          }
          &.active span {
            color: #f57584;
            &::after {
              width: 100%;
            }
          }
        }
      }
      .mobile-bt {
        position: absolute;
        right: 30px;
        top: 20px;
        font-size: 28px;
        display: none;
        cursor: pointer;
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}

// 타블렛
@media screen and (max-width: $tablet) {
  .gnb {
    li {
      padding: 0 20px !important;
    }
  }
}

// 모바일
@media screen and (max-width: $mp) {
  .gnb {
    display: none !important;
  }
  .mobile-bt {
    display: block !important;
  }
}
