.life {
  margin-bottom: 110px;
  .inner {
    .life-title {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 40px;
      font-weight: 300;
      &::after {
        content: "";
        display: inline-block;
        position: relative;
        width: 300px;
        height: 1px;
        margin-left: 20px;
        background-color: #5a5a5a;
      }
    }
    .contents {
      .life-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        li {
          width: 25%;
          text-align: center;
          margin-bottom: 20px;
          img,
          video {
            width: 90%;
            height: 319px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .life-list {
    li {
      width: 50% !important;
    }
  }
}
