.portfolio {
  margin-bottom: 110px;
  .inner {
    .portfolio-title {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 40px;
      font-weight: 300;
      &::after {
        content: "";
        display: inline-block;
        position: relative;
        width: 300px;
        height: 1px;
        margin-left: 20px;
        background-color: #5a5a5a;
      }
    }
    .contents {
      .portfolio-box {
        margin-bottom: 150px;
        .portfolio-subtitle {
          font-size: 38px;
          font-weight: 700;
          letter-spacing: 0.1rem;
          padding-bottom: 55px;
        }
        .portfolio-team {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 100px;

          .portfolio-left {
            width: calc(63% - 10px);
            text-align: center;
            video,
            iframe {
              width: 90%;
              height: 425px;
              border: 1px solid #000;
            }
          }
          .portfolio-right {
            width: calc(37% - 10px);
            padding: 0.5% 0;
            .portfolio-team-list {
              li {
                position: relative;
                margin-bottom: 12px;
                font-size: 22px;
                font-weight: 500;
              }
              .project-name {
                position: relative;
                margin-bottom: 16px;
                // font-size: 32px;
                font-size: 32px;
                font-weight: 700;
                color: #fff;
              }
              .pro-green {
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  top: 6%;
                  left: -2%;
                  display: block;
                  width: 356px;
                  height: 100%;
                  background-color: #f57584;
                  z-index: -1;
                }
              }
              .pro-damhwa {
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  top: 6%;
                  left: -2%;
                  display: block;
                  width: 136px;
                  height: 100%;
                  background-color: #f57584;
                  z-index: -1;
                }
              }
              .pro-accountbook {
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  top: 6%;
                  left: -2%;
                  display: block;
                  width: 136px;
                  height: 100%;
                  background-color: #f57584;
                  z-index: -1;
                }
              }
              .pro-skycastle {
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  top: 6%;
                  left: -2%;
                  display: block;
                  width: 145px;
                  height: 100%;
                  background-color: #f57584;
                  z-index: -1;
                }
              }
              .project-desc {
                font-size: 25px;
                font-weight: 700;
              }
              .project-txt {
                font-size: 20px;
                color: #838383;
              }
              .tech-stack {
                font-size: 18px;
                color: #f57584;
                font-weight: 500;
              }
            }
            .shortcut-icon {
              display: flex;
              gap: 15px;
              img {
                width: 50px;
                height: 50px;
              }
            }
          }
        }
        .portfolio-slide {
          .swiper-button-next,
          .swiper-button-prev {
            color: #fff !important;
          }
          a {
            display: block;
            width: 100%;
            text-align: center;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .portfolio-left,
  .portfolio-right {
    width: 100% !important;
  }
}
