.skills {
  margin-bottom: 210px;
  .inner {
    .skills-title {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 40px;
      font-weight: 300;
      &::after {
        content: "";
        display: inline-block;
        position: relative;
        width: 300px;
        height: 1px;
        margin-left: 20px;
        background-color: #5a5a5a;
      }
    }
    .contents {
      .skills-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        li {
          width: 80%;
          height: 230px;
          text-align: center;
          margin-bottom: 45px;
          &:hover img {
            width: 25%;
            border-radius: 10%;
            margin-bottom: 10px;
          }
          &:hover .skill-txt {
            font-size: 22px;
            margin-bottom: 10px;
          }
          &:hover .hover-txt {
            opacity: 1;
          }
          img {
            width: 55%;
            border-radius: 10%;
            margin-bottom: 20px;
            transition: all 0.5s ease-in-out;
          }
          .skill-txt {
            font-size: 25px;
            font-weight: 600;
            transition: all 0.5s ease-in-out;
          }
          .hover-txt {
            font-size: 18px;
            opacity: 0;
            transition: all 0.5s ease-in-out;
          }
          .react-icon {
            width: 62%;
          }
          .redux-icon {
            width: 56%;
          }
          .tailwind-icon {
            width: 60%;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .skills-list {
    li {
      width: 50% !important;
    }
  }
}
