.vision {
  margin-bottom: 110px;
  .inner {
    .vision-title {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 40px;
      font-weight: 300;
      &::after {
        content: "";
        display: inline-block;
        position: relative;
        width: 300px;
        height: 1px;
        margin-left: 20px;
        background-color: #5a5a5a;
      }
    }
    .contents {
      .vision-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          margin-bottom: 20px;
        }
      }
    }
  }
}

// 데스크탑
@media screen and (max-width: $desktop) {
}
// 타블렛
@media screen and (max-width: $tablet) {
}
// 모바일
@media screen and (max-width: $mp) {
  .vision-list {
    flex-wrap: wrap;
  }
}
