.visual {
  height: calc(100vh - 80px);
  min-height: 650px;
  margin-bottom: 110px;
  .inner {
    display: flex;
    height: 100%;
    align-items: center;
    .visual-intro {
      margin-right: 50px;
      padding-bottom: 200px;
      line-height: 80px;
      font-size: 40px;
      letter-spacing: 0.2rem;
      .visual-txt {
        font-size: 50px;
        .visual-name {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 6%;
            left: -1%;
            display: block;
            width: 101%;
            height: 100%;
            background-color: #f57584;
            z-index: -1;
          }
        }
      }
    }
    img {
      width: 40%;
    }
  }
}
